.row:before, .row:after{
	content: " ";
	display: table;
}

.row:after{
	clear: both;
}

.imagenes:before, .imagenes:after{
	content: " ";
	display: table;
}

.imagenes:after{
	clear: both;
}

[class*="col-"]{
	min-height: 7px;
	padding: 12px;
	float: left;
}

.col-1{
	width: 8.333333%;
}

.col-2{
	width: 16.666667%;
}

.col-3{
	width: 25%;
}

.col-4{
	width: 33.333333%;
}

.col-5{
	width: 41.666667%;
}

.col-6{
	width: 50%;
}

.col-7{
	width: 58.333333%;
}

.col-8{
	width: 66.666667%;
}

.col-9{
	width: 75%;
}

.col-10{
	width: 83.333333%;
}

.col-11{
	width: 91.666667%;
}

.col-12{
	width: 100%;
}

/*body*/
body{
	font-family:'Source Sans Pro', sans-serif;
}

.menu{
	width: 100%;
	height: 4vh;
	top: 0;
	background-color: white;
	border-bottom: 2px solid #B9B4B7;
	position: fixed;
	z-index: 1;
	padding: 20px;
	display: inline-flex;	
	img{
		width: 25px;
		height: 25px;
		margin-right: 10px;
	}
	img:hover{
		background-color: #e7e7e7;
		padding: 8px;
		border-radius: 100px;
	}
	h4{
		margin-top: 6px;
		color: #959595;
	}
	.buscador{
		width: 80%;
		display: inline-block;	
		.search{
			display: inline-flex;
			background-color: #e7e7e7;
			margin-left: 5%;
			padding: 5.7px;
		}	
		input{
			background-color: #e7e7e7;
			color: #959595;			
			padding-left: 60px;
			border-style: none;			
			width: 60%;
			padding: 7px;
			display: inline-block;
		}
		span{
			background-color: #e7e7e7;
			padding: 5.4px;
			display: inline-block;
			font-weight: bold;
			cursor: pointer;
		}
		select{
			padding: 5.7px;
			margin-left: -5px;
			border-style: none;
			border-left: 1px solid #959595;
		}
	}
	.seccion{
		margin-left:-6%;
		display: inline-flex;
		p{
			font-size: 17px;
			margin-top: 4px;
		}
		.hambur{
			img{
				margin-left: 40px;
				width: 35px;
				height: 40px;
				margin-top: -6px;
				cursor: pointer;
			}
			.lista{
				background-color: white;
				border: 1px solid #959595;
				border-radius: 10px;
				width: auto;
				height: auto;
				padding: 20px;
				li{
					list-style: none;
					margin-left: -30px;
					cursor: pointer;
					a{
						text-decoration: none;
						color: #959595;
					}
					a:hover{
						background-color: #e7e7e7; 
						color: white;
						font-weight: bold;
					}
				}
				.close{
					cursor: pointer;
					float: right;
					margin-top: 5px;
					background-color: #959595;
					color: white;
					padding: 5px;
					border-radius: 100px;
				}
			}
		}
	}
}

/*Botones pinteres*/

.list-btn{
	background-color: white;
	display: inline-flex;
	width: 85%;
	height: 6vh;
	margin-top: 100px;
	margin-left: 10%;	
	padding: 4px;
	overflow: hidden;/*los elementos pasan por debajo de la caja*/	
	button{		
		background-color: brown;
		color: white;
		font-size: 15px;
		width: auto;
		height: auto;
		padding: 10px;
		border-radius: 15px;
		border-style: none;
		margin-right: 10px;
		box-shadow: 2px 2px 8px #000;
		cursor: pointer;
		animation-name: boton;
		animation-duration: 25s;
		animation-iteration-count: infinite;
		animation-direction: alternate;	
	}		
	
	@keyframes boton{
  		0% {
   			margin-left: 100%;    		
  		}
  		100% {
    		margin-left: 0%;
    	}    		
  	}
	button:hover{
		transform: translateY(-3px);
		animation-play-state: paused;
	}
	.right{
		cursor: pointer;
	}
}

/*imagenes pinteres*/
.caja{
	width: 100%;
	margin-top: 80px;
	display: inline-flex;	
	position: relative;
}

img{
	width: 100%;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #000;
	cursor: pointer;
}

img:hover{
	transform: rotate(2deg);
}

h4{
	font-weight: bold;
	line-height: normal;
	font-size: 14px;
}

h5{
	line-height: normal;
	font-size: 12px;
	margin-top: -12px;
	margin-bottom: -5px;
	color:#B9B4B7;
}

p{	
	font-size: 13px;
	color: #959595;
	font-weight: bold;
	display: inline-block;		
}

h3{
	background-color: pink;
	color: white;
	border-radius: 100px;
	padding: 5px;
	font-size: 10px;
	display: inline-block;
	margin-right: 5px;
}

h2{
	font-size: 12px;
	display: inline-block;
	margin-left: 5px;
	color: #959595;
}

.box{
	width: 50%;
	height: auto;
	position: relative;
	padding: 5px;
	cursor: pointer;		
}

.box2{
	width: 50%;
	height: auto;
	position: relative;
	padding: 5px;
	cursor: pointer;		
}

.box3{
	width: 50%;
	height: auto;
	position: relative;
	padding: 5px;
	cursor: pointer;	
}

.box4{
	width: 50%;
	height: auto;
	position: relative;
	padding: 5px;
	cursor: pointer;	
}

.box5{
	width: 50%;
	height: auto;
	position: relative;
	padding: 5px;
	cursor: pointer;	
}

/*MODAL*/
.modal{
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	#modal-a{
		background-color: white;
		width: 30%;
		height: 85vh;
		padding: 30px;
		margin-top: 40px;
		align-items: center;
		justify-content: center;
		img{
			width: 90%;
			height: 40vh;
		}
		.superior{
			display: inline-flex;
			width: 100%;
			height: auto;
			margin-left: 25%;
			margin-bottom: 30px;
			margin-top: 30px;
			h5{
				color: #A19FA0;
				font-size: 17px;
				margin-right: 25%;
				display: inline-flex;
				font-weight: bold;
			}
			.btn{
				background-color: red;
				color: white;
				font-size: 13px;
				font-weight: bold;
				width: auto;
				height: auto;
				padding: 8px;
				cursor: pointer;
				border-radius: 5px;
				display: inline-flex;
				box-shadow: 2px 2px 8px #000;
				margin-top: -20px;				
			}
		}
		.btn-close{
			cursor: pointer;
			float: right;
		}		
	}
}